#include "fsi.h"

struct fsi_channel_config generated_channel_configs[] = {
        {% for k, v in channel_map.items() %}
        {% set b, c = v.split('.') %}
	{% if v == gas or v == gas_backup %}
		{% set type = 'FSI_CH_GAS_CELL' %}
	{% elif v == ref %}
		{% set type = 'FSI_CH_INTERF' %}
	{% else  %}
		{% set type = 'FSI_CH_DISTANCE' %}
	{% endif  %}
        [{{loop.index0}}] = {
                .channel_id	= {{ to_channel_id(0, b|int, c|int) }},
                .type		= {{ type }},
                .npeaks		= {{ hints[k]|length }},
                .channel_gain	= -1,
                .disabled	= 0,
                .peaks		= {
                        {% for pk in hints.get(k, []) %}
                        [{{ loop.index0 }}] = {
				.position	= {{ pk[1]|float }},
				.peak_id	= {{ pk[0] }},
				.range1		= 0.002,
				.range2		= 0.002,
				.type		= FSI_PEAK_GAUSS,
                        },
                        {% endfor %}
		},
        },
        {% endfor %}
};
